*{box-sizing: border-box;font-family: Helvetica,Arial,sans-serif; color: white;}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
#top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("../Media/background.jpg");
    background-color: #cccccc;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#reg{
    font-size: 65px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight:bold;
}
#reg span{
    font-family: 'Bebas Neue';
    color:rgb(176, 11, 176);
}
.topnav {
    overflow: hidden;
    position:sticky;
    position: -webkit-sticky;
}
.topnav #reg #lang{
    float: right;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 20px;
    border-radius: 5%;
    border: #cccccc;
    margin-top: 10px;
    background-color: rgba(0, 0, 0,0.7);
    font-family: 'FontAwesome', 'sans-serif';
    
}
.topnav button{
    float: right;
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(176, 11, 176);
    border-radius: 5%;
    border: #cccccc;
    margin-right: 50px;
    margin-top: 10px;
    font-weight: 450;
}
#gs{
    text-align: center;
    display: contents;
    justify-content: center;
    word-wrap: break-word;
}
#gs #tf{
    width: 500px;
    height: 60px;
    padding-left: 10px;
    font-size: 17px;
    border: #cccccc;
    text-align: left;
    justify-content: center;
    color: black !important;
}
#gs #sub{
    font-size: 30px;
    width: 240px;
    height: 60px;
    padding-bottom: 11.5px;
    background-color: red;
    border: #cccccc;
    background-color: rgb(176, 11, 176);
}
#sub i{
    font-family: 'FontAwesome', 'sans-serif';
    font-style: normal;
}
hr{
    margin: 0%;
    height: 10px;
    background-color: rgb(47, 44, 44);
    width: 100%;
    border: #cccccc;
}
#block{
    background-color: black;
}
#mid{
    border: #cccccc;
    padding: 170px 0px;
}
#txt{
    justify-content: center;
    display: block;
    text-align: left;
    word-wrap: break-word;
    padding-right: 700px;
    padding-left: 200px;
}
#mid #media{
    right: 10%;
    bottom: 320px;
    float: right;
    position: relative;
    width: 35%;
    margin-bottom: -320px;
}
#mid video{
    right: -1.9%;
    bottom: 381px;
    float: right;
    position: relative;
    width: 85%;
    margin-bottom: -300px;
}
#mid .st{
    height: 320px;
    width: 1000px;
    float: left;
    position: relative;
    top: -150px;
    left: 10%;
    margin-bottom: -350px;
}
#mid #dlblock{
    border: 2px solid hsla(0,0%,100%,.25);
    background: black;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    padding: 15px 15px;
    position: relative;
    height: 120px;
    width: 25%;
    right: 20%;
    margin-top: 70px;
}
#mid #dlblock .stictxt{
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
}
#mid #dlblock .stictxt span::before{
    content: "\A";
    white-space: pre;
    display: table;
}
#mid #dlblock .stic{
    width: 48px;
    height: 48px;
    margin-left: 80px;
    margin-top: 30px;
}
#txt2{
    float: right;
    justify-content: flex-end;
    display: block;
    text-align: left;
    word-wrap: break-word;
    font-size: 50px;
    font-weight: bold;
    padding-right: 200px;
    line-height: 0.9;
}
.mid2{
    display: flex;
}
.kids{
    padding-left: 120px;
    margin-top: -100px;
    margin-bottom: -100px;
}
#block #midq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#block #midq h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
    line-height: 1.1;
    margin-top: 60px;
    margin-bottom: 8px;
    font-weight: 400px;
}
#midq li{
    list-style: none;
    
}
#midq button{
    border: 0;
    font-weight: 400;
    padding: 25px 0 25px 25px;
    margin-bottom: 1px;
    background-color:  rgb(58, 55, 55);
    position: relative;
    width: 60%;
    cursor: pointer;
    text-align: left;
    font-weight: 400px;
    font-size: 30px;
    overflow: visible;
}
#midq hr{
    width: 100%;
    background-color: black;
    height: 0.5px;
}
#dpdn i.fa{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 30px;
    float: right;
    margin-right: 30px;
}